.green{
    height: 250px;
    width: 350px;
    background-color: green;
position: relative;

}

.red{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 80px;
}

.fb-share{
    width: 200px;
    right: -130px;
    position: fixed;
    transition: 1s;
}
.fb-share:hover{
    right: 0px;
}

.social-icon{
    list-style: none;
    text-align: center;
    
}
.social-icon li{
    display: inline-block;
    
}

.social-icon li a{
    display: block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 100%;
    margin: 0px 15px;
    font-size: 30px;
    color: #fff;
    background-color: black;



}

.social-icon li a:hover{
    color: red;
    background-color: #8ce;
    transition: 1s;
}
.social-icon li a:focus{
    color: red;
    background-color: #8ce;
    transition: 1s;
}